* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}


.container {
  display: flex;
}
.app {
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
  padding: 24px;
  height: 100vh;
  background: #f0f0f0;
  border-right: 1px solid #f6f6f6;
}
.internal {
  flex-grow: 2;
  padding: 24px;
  border-left: 1px solid #e0e0e0;
}


.autocmpl-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.token-input {
  padding: 12px 28px;
  color: #f0f0f0;
  background: #434343;
  margin: 4px -24px;
}
.active-token {
  background-color: #22d9cc;
  outline: 1px solid #f0f0f0;
  color: #222;
}
.tokens {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  cursor: pointer;
}
.token {
  margin: 0 6px;
  min-width: 48px;
  text-align: center;
  border: 1px solid #d0d0d0;
  outline: 0;

  font-family: monospace;
}
.token.active,
.token:hover {
  border: 1px solid #ababab;
  outline: 2px solid #e0e0e0;
}
.token-head {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background: #f0f0f0;
  padding: 2px 4px;
}
.token-range {
  font-size: 11px; 
  border-top: 1px solid #e0e0e0;
  padding: 2px 4px;
}
.token-value {
  font-size: 14px;
  padding: 8px 4px;
}



.ctx {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.ctx-entry {
  padding: 4px;
  margin: 0 6px;
  border: 1px solid #e0e0e0;
  position: relative;
  color: #f0f0f0;
  background: #434343;
}

.ctx-entry::after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid #894343;
  clear: both;
}
.ctx-entry:last-child::after {
  display: none;
}



.tests {
  background: #fff;
  margin: 8px -8px;
  padding: 2px 8px;
  padding-bottom: 16px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px -4px #222;
}

.test-case {
  font-size: 11px;
  background: #f0f0f0;
  padding: 4px 2px;
  margin-bottom: 4px;
  box-shadow: inset 1px 1px 6px -4px #222;
  cursor: pointer;
}

.autocmpl-ctx {
  background: #f0f0f0;
  border: 1px solid #ababab;
  padding: 4px;
  border-radius: 2px;
  color: #aa3948;
}
.divider {
  margin-left: -24px;
  margin-right: 30%;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 0;
  border-bottom: 1px solid #e0e0e0;
}
